body {
        font-family: 'PT Serif', serif;
}


/*-----------------------------------------------------------------------------------------------------Nav nar*/


@media only screen and (min-width: 579px) {
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {

    color: black;
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    text-align: center;
    font-family: 'DM Serif Display', serif;
    font-size: 1.2rem;
}
}

@media only screen and (min-width: 579px) {
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {

    color: #bc772a;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
    opacity: 0.8;
}
}

.navbar-logo-large {

    background-image: url("../images/moonbeamlogo-transparent.png");
    background-size: contain;
    height: 12em;
    width: 12em;
    background-repeat: no-repeat;
}



/*------------------------------------------------------------------------------------------article/home page*/

.homepic {
    width: 100%;
    height: 25em;
    opacity: 0.8;
}

.brownmoonbeampic {
    width: 20em;
    height: 15em;
}

.brownpicshopnow {
    width: 10em;
    background-color: #fafafa;
    color: #bc772a;
    border-color: #bc772a;
}

.nojobbackground2 {
    background-color: #ff9344;
    background-image: url("https://i.ytimg.com/vi/XyB8GuwWMIs/maxresdefault.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 15em;
    margin-left: 2.5em;
    margin-right: auto;
}

.ordernowbackground1 {
    background-color: #adf1f0;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSF4tOdD5G7xMao6fnyYk41UEF843OMnBIeMGyF0L1Ur5OcUEVh");
    background-repeat: no-repeat;
    background-size: cover;
    height: 15em;
    margin-right: 2.5em;
    margin-left: auto;
}

.middlebit {
    background-color: #fff;
    height: 7.5em;
    width: 7.5em;
    margin-top: 3.75em;
    margin-bottom: 3.75em;
}

@media only screen and (max-width: 767px) {
  .ordernowbackground1 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 767px) {
  .nojobbackground2 {
    margin-left: auto;
    margin-right: auto;
  }
}

.custombit {
    text-align: center;
    padding-top: 1em;
    border: double;
    font-family: 'Courgette', cursive;
}

.shopnowbit {
    text-align: center;
    padding-top: 1em;
    border: double;
}

.shopcollectionhome {
    font-family: 'Sacramento', cursive;
    height: 10em;
    margin-right: 2.5em;
    margin-left: auto;
    margin-top: 0.5em;
}

.bealtaineblog {
    background-color: #adf1f0;
    height: 15em;
    margin-left: 2.5em;
    margin-right: auto;
    z-index: 1;
}

.borderblogpic {
    height: 100%;
    width: 100%;
}

.bealtaineblogborder1 {
    height: 15em;
    margin-left: -1.5em;
    margin-right: 1.5em;
    margin-top: -16.5em;
    border-style: solid;
    border-width: medium;
    z-index: 2;
}

.bealtaine {
    padding-left: 5px;
    letter-spacing: 6px;
}

.origamiblog {
    background-color: #fafafa;
    height: 25em;
    margin-right: 2.5em;
    margin-left: auto;
    margin-top: -5em;
    border-style: solid;
    border-width: medium;
}

.yuleblog {
    background-color: #fafafa;
    height: 25em;
    margin-left: 2.5em;
    margin-right: auto;
    z-index: 1;
    border-style: solid;
    border-width: medium;
}

.yuleblogborder1 {
    height: 25em;
    margin-left: -1.5em;
    margin-right: 1.5em;
    margin-top: -4.5em;
    z-index: 2;
}

.yulebloglink {
    margin-right: 0.5em;
    margin-left: auto;
    text-align: right;
}

@media only screen and (max-width: 767px) {
.smallhomescreen {
    margin-left: auto;
    margin-right: 2.5em;
    margin-bottom: 3em;
}
}

@media only screen and (max-width: 767px) {
.shopcollectionhome {
    margin-left: auto;
    margin-right: auto;
    margin-top: -1.5em;
    margin-bottom: 5em;
    text-align: center;
}
}

@media only screen and (max-width: 767px) {
.origamismallscreen {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
}
}

/*---------------------------------------------------------------------------------------------bottom insta photos*/

#instapiccontainer {
	width: 100%;
	overflow: hidden;
	background: #fff;
}

.photobanner {
	height: 15em;
	width: 2100px;
	margin-top: 4em;
}


.instapic {
    width: 350px;
    height: 20em;
}

.instapicsheading {
    padding-left: 10px;
    font-family: 'Barriecito', cursive;

}

.firstbannerpic {
 -webkit-animation: bannermove 40s linear infinite;
    -moz-animation: bannermove 40s linear infinite;
     -ms-animation: bannermove 40s linear infinite;
      -o-animation: bannermove 40s linear infinite;
         animation: bannermove 40s linear infinite;
}

@keyframes "bannermove" {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -2125px;
 }

}

@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }

}

@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }

}


@-o-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }

}


/*------------------------------------------------------------------------------------------------------about page*/

.aboutpic {
    width: 100%;
    height: 28em;
}

@media only screen and (max-width: 576px) {
.about-writing {
    margin-top: 0.5em;
}
}

@media only screen and (min-width: 579px) {
.about-writing {
    margin-top: 2.5em;
}
}

.about-section {
background-color: #d6efed;
background-image: url("../images/moonbeamlogo-transparent.png");
background-size: cover;

}

.about-shop-link {
    color: #fd33ff;
    text-decoration: none;
}

.about-work-link {
    font-family: 'Aguafina Script', cursive;
    font-size: 25px;
    text-decoration: none;
    color: inherit;
}

.btn-sub {
    background-color: #fafafa;
    color: #fd33ff;
    border-color: #fd33ff;
}

@media only screen and (max-width: 576px) {
  .about-paragraph {
    width: 90%;
  }
}

@media only screen and (min-width: 579px) {
  .about-paragraph {
    width: 95%;
  }
}

/*---------------------------------------------------------------------------------------------------------contact page*/


.contact-heading {
    margin-bottom: 1em;
    margin-top: 1em;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'DM Serif Display', serif;
    color: pink;
}

.headingborder {
    border-bottom:  1px solid gray;
    width: 3em;
    margin-left: auto;
    margin-right: auto;
}

.form-submit-button {
    margin-top: 40px;
    text-align: center;
}

#inputtext {
    height: 10em;
    resize: none;
    padding-top: 0.5em;
}

.contactsendbutton {
    color: pink;
    border-color: pink;
}



/*-----------------------------------------------------------------------------------------shop*/

.aside-section {
    border-bottom: 1px solid gray;
    margin-bottom: 1.5em;
    margin-right: 1em;
    margin-left: 1em;
}

.shopfilterheading {
    font-family: 'DM Serif Display', serif;
}

.shop-item {
    width: 10em;
    height: 15em;
    margin-bottom: 1em;
    padding-right: 1em;
    padding-left: 1em;
}

.shop-item1 {
    width: 100%;
    height: 80%
}

.shop-photo-title {
    text-align: center;
    width: 100%;
    padding-top: 0.5em;
}

.sortby {
    text-align: right;
}

@media only screen and (max-width: 576px) {
  .sortby {
    margin-top: -3.5em;
  }
}


/*------------------------------------------------------------------------------shop hoverstuff*/

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #fafafa;
  overflow: hidden;
  width: 60%;
  height:0;
  transition: .5s ease;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1em;
  opacity: 0.8;
}

.shop-item:hover .overlay {
  bottom: 3em;
  height: 20%;
  color: pink;
  text-decoration: none;
}

.overlaytext {
  color: pink;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/*----links coloring------------------------------------------------------------------------*/

a {
     color: inherit;
     text-decoration: none;
}

a:hover {
     color: #bc772a;
     text-decoration: none;
}




/*----------------------------------------------------------------------------------footer*/


.footer-main-section {
    width: 100%;
    background-color: #fff;
    text-align: center;
    padding: 2em;
    vertical-align: middle;
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    bottom: 0;
      left: 0;
        clear: both;
}


.footer-icons a {
    padding-left: 1em;
    padding-right: 1em;
    color: #bc772a;
}

.footer-icons a:hover {
    color: #a0a6ad;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
          
}

