body {
    font-family: 'PT Serif', serif;
    background-color: #F0EBE9;
}


a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #FFD4CA;
    text-decoration: none;
}


/*-----------------------------------------------------------------------------------------------------Nav nar*/

.navbar-nav {
    color: #664E4C;
}

.navbar-collapse {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 579px) {
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {

    color: #664E4C;
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    text-align: center;
    font-family: 'DM Serif Display', serif;
    font-size: 1.2rem;
}
}

@media only screen and (min-width: 579px) {
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {

    color: #FFD4CA;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
    opacity: 0.8;
}
}

.navbar-logo-large {
    background-image: url("../images/moonbeamlogo-transparent.png");
    background-size: contain;
    height: 12em;
    width: 12em;
    background-repeat: no-repeat;
}

@media only screen and (min-width: 579px) {
.navbar-nav {
    margin-right: 10em;
    margin-left: 10em;
    padding-right: 1em;
    padding-left: 1em;
}
}

/*------------------------------------------------------------------------------------------article/home page*/

.homepic {
    width: 100%;
    height: 25em;
    opacity: 0.8;
}

.nojobbackground2 {
    background-color: #ECB2B0;
    height: 15em;
    margin-left: 2.5em;
    margin-right: auto;
    border: solid;
    border-color: #EFD5C3;
}

.ordernowbackground1 {
    background-color: #664E4C;
    height: 15em;
    margin-right: 2.5em;
    margin-left: auto;
    border: solid;
    border-color: #ECB2B0;
    opacity: 0.9;
}

.middlebit1 {
    background-color: #fafafa;
    height: 7.5em;
    width: 7.5em;
    margin-top: 3.75em;
    margin-bottom: 3.75em;
}

.middlebit2 {
    background-color: #fafafa;
    height: 7.5em;
    width: 7.5em;
    margin-top: 3.75em;
    margin-bottom: 3.75em;
}

@media only screen and (max-width: 767px) {
  .ordernowbackground1 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 767px) {
  .nojobbackground2 {
    margin-left: auto;
    margin-right: auto;
  }
}

.custombit {
    text-align: center;
    padding-top: 1em;
    border: double;
    border-color: #ECB2B0;
    font-family: 'Courgette', cursive;
}

.shopnowbit {
    text-align: center;
    padding-top: 1em;
    border: double;
    border-color: #EFD5C3;
    color: #664E4C;
}

.shopcollectionhome {
    font-family: 'Sacramento', cursive;
    height: 10em;
    margin-right: 2.5em;
    margin-left: auto;
}

.bealtaineblog {
    background-color: #adf1f0;
    height: 15em;
    margin-left: 2.5em;
    margin-right: auto;
    z-index: 1;
}

.borderblogpic {
    height: 100%;
    width: 100%;
}

.bealtaineblogborder1 {
    height: 15em;
    margin-left: -1.5em;
    margin-right: 1.5em;
    margin-top: -16.5em;
    border-style: solid;
    border-width: medium;
    z-index: 2;
    border-color: #664E4C;
}

.bealtaine {
    padding-left: 5px;
    letter-spacing: 6px;
}

.origamiblog {
    background-color: #fafafa;
    height: 25em;
    margin-right: 2.5em;
    margin-left: auto;
    margin-top: -4em;
    border-style: solid;
    border-width: medium;
    border-color: #ECB2B0;
}

.yuleblog {
    background-color: #F0EBE9;
    height: 25em;
    margin-left: 2.5em;
    margin-right: auto;
    z-index: 1;
    border-style: solid;
    border-width: 5px;
    border-color: #EFD5C3;
}

.yuleblogborder1 {
    height: 25em;
    margin-left: -1.5em;
    margin-right: 1.5em;
    margin-top: -4.5em;
    z-index: 2;

}

.yulebloglink {
    margin-right: 0.5em;
    margin-left: auto;
    text-align: right;
}

@media only screen and (max-width: 767px) {
.smallhomescreen {
    margin-left: auto;
    margin-right: 2.5em;
    margin-bottom: 3em;
}
}

@media only screen and (max-width: 767px) {
.shopcollectionhome {
    margin-left: auto;
    margin-right: auto;
    margin-top: -1.5em;
    margin-bottom: 5em;
    text-align: center;
}
}

@media only screen and (max-width: 767px) {
.origamismallscreen {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
}
}

/*---------------- home page top hero banner------------*/

.test-home-left {
    height: 40em;
    background-image: url("https://www.stockphotobucket.com/wp-content/uploads/2018/11/xcbw03rnanq.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.test-home-right {
    height: 40em;
    background-color: #664E4C;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}

.testhomepic {
    width: 13.5em;
    height: 15em;
    opacity: 0.5;
    margin-left: 9.8em;
    margin-right: auto;
    margin-top: 4em;
}

.cursive-heading {
    font-family: 'Sacramento', cursive;
    color: black;
    margin-top: 5em;
    opacity: 0.7;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.home-main-banner {
    font-size: 5em;
    color: #413231;
}



/*---------------------------------------------------------------------------------------------bottom insta photos*/

#instapiccontainer {
	width: 100%;
	overflow: hidden;
background-color: #F0EBE9;
}

.photobanner {
	height: 15em;
	width: 2100px;
	margin-top: 4em;
}


.instapic {
    width: 350px;
    height: 20em;
}

.instapicsheading {
    padding-left: 10px;
    font-family: 'Barriecito', cursive;

}

.firstbannerpic {
 -webkit-animation: bannermove 40s linear infinite;
    -moz-animation: bannermove 40s linear infinite;
     -ms-animation: bannermove 40s linear infinite;
      -o-animation: bannermove 40s linear infinite;
         animation: bannermove 40s linear infinite;
}

@keyframes "bannermove" {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -2125px;
 }

}

@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }

}

@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }

}


@-o-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }

}

/*------------------------------------------------------------------------------------------------------about page*/

.aboutpic {
    width: 100%;
    height: 35em;
}


.about-section {
    background-color: #664E4C;
    height: 35em;
    background-size: contain;
    background-repeat: no-repeat;
}

.about-shop-link {
    color: #E5A09E;
    text-decoration: none;
}

.about-work-link {
    font-family: 'Aguafina Script', cursive;
    font-size: 25px;
    text-decoration: none;
    color: inherit;
    padding-bottom: 1em;
}

.about-paragraph {
    color: #EFD5C3;
    width: 90%;
}

.about-title {
    color: #FFD4CA;
}

.form-control {
    background-color: #F0EBE9;
    border-color: #664E4C;
}

.form-control:focus {
    background-color: #F0EBE9;
    border-color: #EFD5C3;
    box-shadow: 0 0 0 0.2rem #efd5c3ad;
}

/*---------------------------------------------------------------------------------------------------------contact page*/


.contact-heading {
    margin-bottom: 1em;
    margin-top: 1em;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'DM Serif Display', serif;
    color: #664E4C;;
}

.headingborder {
    border-bottom:  1px solid gray;
    width: 3em;
    margin-left: auto;
    margin-right: auto;
}

.form-submit-button {
    margin-top: 40px;
}

#inputtext {
    height: 10em;
    resize: none;
    padding-top: 0.5em;
}


/*-----------------------------------------------------------------------------------------shop*/

.aside-section {
    border-bottom: 1px solid gray;
    margin-bottom: 1.5em;
    margin-right: 1em;
    margin-left: 1em;
    color: #664E4C;
}

.shopfilterheading {
    font-family: 'DM Serif Display', serif;
}

.shop-item {
    width: 10em;
    height: 15em;
    margin-bottom: 1em;
    padding-right: 1em;
    padding-left: 1em;
}

.shop-item1 {
    width: 100%;
    height: 80%;
    border-style: solid;
    border-width: 3px;
    border-color: #FFD4CA;
    z-index: 10;
}

.shop-photo-title {
    text-align: center;
    width: 100%;
    padding-top: 0.5em;
    color: #664E4C;
}

.dropdown-toggle{
    background-color: #F0EBE9;
    border-color: #664E4C;
    color: #664E4C;
}

.sortby {
    text-align: right;
}

@media only screen and (max-width: 576px) {
  .sortby {
    margin-top: -3.5em;
  }
}

.dropdown-menu {
    margin-left: -2.5em;
    background-color: #F0EBE9;
}

.buttonpink2 {
    background-color: #F0EBE9;
    color: #664E4C;
    border-color: #664E4C;
}

.buttonpink2:focus {
    background-color: #F0EBE9;
    border-color: #EFD5C3;
    box-shadow: 0 0 0 0.2rem #efd5c3ad;
}

/*------------------------------------------------------------------------------shop hoverstuff*/

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #fafafa;
  overflow: hidden;
  width: 60%;
  height:0;
  transition: .5s ease;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  opacity: 0.8;
  z-index: 21;
}

.shop-item:hover .overlay {
  bottom: 3em;
  height: 20%;
  color: #ecb2b0;
  text-decoration: none;
}

.overlaytext {
  color: #ecb2b0;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 20;
}

/*----links coloring------------------------------------------------------------------------*/


.buttonpink {
    background-color: #EFD5C3;
    color: #664E4C;
    border-color: #664E4C;
}

.buttonpink:hover {
    background-color: #ECB2B0;
}

.buttonbrown {
    background-color: #776062;
    color: #F1DBCB;
    border-color: #F1DBCB;
}

.buttonbrown:hover {
    background-color: #ECB2B0;
    border-color: #F1DBCB;    
    
}


/*----------------------------------------------------------------------------------footer*/


.footer-main-section {
    width: 100%;
    background-color: #F0EBE9;
    text-align: center;
    vertical-align: middle;
    margin-top: 1.5em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    display: block;
}


.footer-icons a {
    padding-left: 0.5em;
    padding-right: 0.5em;
    color: #664E4C;
}

.footer-icons a:hover {
    color: #FFD4CA;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
          
}

